.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup-text {
  display: flex;
  flex-direction: column;
  color: rgb(90, 90, 90);
}

.popup-text span {
  padding: 5px;
}
